@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Mitr:wght@200;300;400;500;600;700&family=Playball&family=Risque&family=Slackey&display=swap');

@import "tailwindcss";

@theme {
  --font-playball: "Playball", cursive;
  --font-mitr: "Mitr", sans-serif;
}